.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(148 163 184);
    padding: 2rem;
    border-radius: 0.5rem;
}

.card h1 {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.card img {
    height: 10rem;
}